@import 'header.css';
@import 'footer.css';
@import 'shortList.css';
@import 'houseCard.css';
@import 'modal.css';
@import 'loginSignup.css';
@import 'map.css';
@import 'search.css';


:root {
  --primary_color: #ffea3e;
  --secondary_color: #1b2c3b;
  --primary_text_color:
}

.align-self-center {
  align-self: center!important;
}

.justify-content-center {
  justify-content: center !important;
}

.row {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: normal;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.25rem!important;
  color: #fff!important;
}

.row {
  margin-top: 0px!important;
  margin-bottom: 0px!important;
}

.flex-align {
  display: flex!important;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-align-center {
  display: flex;
  align-items: center;
}


.flex-justify-content {
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
}

@media screen and (max-width: 765px) {
  .lg-view-flex {
    display: none !important;
  }
  .sm-view {
    display: block !important;
  }
}

@media screen and (min-width: 765px) {
  .lg-view-flex {
    display: flex !important;
  }
  .lg-view {
    display: block !important;
  }
  .sm-view {
    display: none !important;
  }
}

@font-face {
  font-family: MuseoSans;
  src: url(../fonts/museo_sans/MuseoSans-100.otf);
  font-weight: 100;
}

@font-face {
  font-family: MuseoSans;
  src: url(../fonts/museo_sans/MuseoSans-300.otf);
  font-weight: 300;
}

@font-face {
  font-family: MuseoSans;
  src: url(../fonts/museo_sans/MuseoSans-500.otf);
  font-weight: 500;
}

@font-face {
  font-family: MuseoSans;
  src: url(../fonts/museo_sans/MuseoSans-700.otf);
  font-weight: 700;
}