.login-base, .register-base {
    
}

.login-base .details-div {
    margin: 50px 65px;
}

.register-base .details-div {
    margin: 20px 65px;
}

.login-base .body .heading {
    padding-bottom: 20px;
}

.register-base .body .heading {
    padding-top: 30px;
}

.login-base .body .input-div, .register-base .body .input-div {
  padding-bottom: 15px;
}

.login-base .body .input-div .label, .register-base .body .input-div .label {
    padding-bottom: 5px;
    font-weight: 500;
  }

.login-base .body .input-div input, .register-base .body .input-div input {
  height: 50px;
}

.input-div .password-label {
    display: flex;
    justify-content: space-between;
}

.input-div .password-label .forgrt-password-btn {
    font-size: 12px;
}

.login-base .body .loginBtn, .register-base .body .registerBtn {
  width: 100%;
  color: #333 !important;
  background-color: #ffea3e;
  box-shadow: 0 3px #f3dd29;
}

.register-base .body .registerBtn {
    margin-top: 20px;
}

.login-base .body .loginBtn:hover, .register-base .body .registerBtn:hover {
    box-shadow: 0 1px #f3dd29;
}

.login-base .body .option-div {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-base .body .option-div .option-text {
    font-size: 14px;
    font-weight: 500;
}

.login-base .body .option-div .remember-box {
    margin-right: 5px;
}

.login-base .body .option-div .registerHere-btn, .register-base .body .goto-login-btn {
    font-size: 12px;
    padding-left: 5px;
    font-weight: 500;
    cursor: pointer;
}

.login-base .body .social-div, .register-base .body .social-div {
    margin-top: 31px;
    background-color: #f3f3f3;
    height: 123px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.login-base .body .social-div button, .register-base .body .social-div button{
    cursor: pointer;
    height: 48px!important;
    width: 81px!important;
    margin: 0 7px;
    border: 1.05px solid #ccc;
    border-radius: 4.22px;
    background-color: #fff;
    background-position: 50%;
    background-repeat: no-repeat;
}


.register-base .info-content {
    font-size: 19px;
    color: #aaa;
    padding-bottom: 20px;
}

.invalid.inside-flex.email {
    transform: translate(80%,-285%);
}

.invalid.inside-flex.r-fname, .invalid.inside-flex.r-lname,
.invalid.inside-flex.r-password {
    transform: translate(80%,-285%);
}

.invalid.inside-flex.r-email {
    transform: translate(93%,-285%);
}

.invalid.inside-flex.password {
    transform: translate(70%,-340%);
}

.invalid {
    position: absolute;
    z-index: 5;
    padding: .5rem;
    margin-top: 0;
    font-size: .875rem;
    line-height: 1;
    color: #fff;
    background-color: #f05755;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
    border-radius: .2rem;
}

.invalid.inside-flex::after {
    content: "";
    position: absolute;
    bottom: -8px;
    width: 0;
    height: 0;
    left: 45%;
    border-top: solid 10px #f05755;
    border-left: solid 8px transparent;
    border-right: solid 8px transparent;
}