.search-base {
    padding: 10px;
    display: flex;
}

.search-base .result-view {
    padding: 10px;
}

.search-base .map-view {
}

.search-base .search-header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-base .search-header .left {
    height: 100%;
}

.search-base .search-header .sort-select {
    margin-left: 10px;
    height: 70%;
    border: 1px solid rgb(204, 204, 204);
    color: gray;
}

.search-base .result-content {
    padding: 10px;
}

.search-map-base{
    padding: 0px!important;
}
.map-div{
    height:84vh
}
.map-div div:first-child{
    position: relative!important;
}
.map-div .gm-style{
}