.search-base {
    padding: 10px;
    display: flex;
}

.search-base .result-view {
    padding: 10px;
}

.search-base .map-view {}

.search-base .search-header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-base .search-header .left {
    height: 100%;
}

.search-base .search-header .sort-select {
    margin-left: 10px;
    height: 70%;
    border: 1px solid rgb(204, 204, 204);
    color: gray;
}

.search-base .result-content {
    padding: 10px;
}

.map-div {
    height: 84vh
}


/* .gm-style-iw-d {
    padding: 0px!important;
    width: 320px!important;
    height: 320px!important;
    max-width: 320px!important;
    max-height: 320px!important;
    box-shadow: none!important;
    background-color: transparent!important;
}

.gm-style-iw-t .gm-style-iw-c {
    padding: 0px!important;
    width: 300px!important;
    height: 300px!important;
    max-width: 300px!important;
    max-height: 300px!important;
    box-shadow: none!important;
    background-color: transparent!important;
} */

.gm-ui-hover-effect {
    display: none!important;
}