.shortList-container .header h1 {
    font-size: 25px;
    font-weight: bold;
}

.shortList-container .header h4 {
    font-size: 1.2rem;
    color: gray;
    font-weight: 100;
}

#shortList-page .row {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}