.banner-wrap {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-cover {
    padding: 12% 15%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgba(0, 0, 0, .2);
}

.guest-icon {
    background-image: url('../../../assets/images/icons/search_guests.png');
    padding-left: 35px!important;
    background-repeat: no-repeat;
    background-position: 10px;
}

.calendar-icon {
    background-image: url('../../../assets/images/icons/calendar_icon.png');
    width: 17px;
    height: 17px;
    padding-left: 35px!important;
    background-repeat: no-repeat;
    background-position: 10px;
}

.search-container {
    width: 100%;
}

.search-box {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 4px;
    padding: .5rem;
}

.banner-title {
    color: #fff;
    font-size: 52px;
    font-weight: 700;
}

.input-controller {
    padding: 0px 2px!important;
}

.date-controller {
    display: flex;
    flex-direction: row;
}

.start-date {
    border-top-right-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
}

.end-date {
    border-top-left-radius: 0px!important;
    border-bottom-left-radius: 0px!important;
}

.search-button {
    color: #333!important;
    background-color: var(--primary_color)!important;
    box-shadow: 0 3px var(--primary_color)!important;
    border: 0!important;
    top: 0
}

.suggestion-title {
    font-weight: 700;
    font-size: 28px;
    line-height: normal;
}

.suggestion-wrap {
    margin-top: 10px;
    padding: 50px 0px;
}

.suggestion {
    margin-top: 10px;
    display: flex;
    padding-top: 150%;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    transition: .2s ease-in-out;
    transform: translateY(0);
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}


@media screen and (min-width: 800px) {
    .suggestion-name {
        font-size: 20px!important;
    }
}

@media screen and (max-width: 800px) {
    .suggestion-name {
        font-size: 15px!important;
    }
}

.suggestion:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, .2);
    transform: translateY(-4px);
}

.suggestion-name {
    text-shadow: 0 1px 4px rgba(167, 167, 167, .5);
}

.discover-wrap {
    padding: 40px 0;
    background-color: #f9f9f9;
}

.discover-list-wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: scroll;
}

.holiday-wrap {
    margin-top: 10px;
    padding: 50px 0px;
}

.holiday-title {
    font-weight: 700;
    font-size: 28px;
    line-height: normal;
}

.holiday {
    display: flex;
    height: 210px;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    transition: .2s ease-in-out;
    transform: translateY(0);
    padding-left: 15px;
    padding-right: 15px;
}

.holiday-name {
    margin-top: 10px;
    color: #000!important;
    font-size: 1.25rem!important;
}

.holiday-type-ul li:hover {
    background-color: #ffea3e;
    transition: .2s ease-in-out;
}

.discover-list-wrap::-webkit-scrollbar {
    width: 0 !important;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.holiday-type-list {
    border-bottom: 1px solid #eee;
    color: gray;
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
    display: block;
    color: gray;
}

.holiday-type-ul {
    padding: 0;
    list-style-type: none;
}

.guest-drowndown-wrap {
    border: 1px solid #eee;
    z-index: 40000;
    width: 98%;
    position: absolute;
    background: #fff;
    margin-top: 10px;
    padding: 0px 20px 20px;
}

.guest-wrap {
    margin-top: 20px;
}

.btn.btn-action {
    width: 50px;
    border-radius: 3px 3px 0px 0px !important;
    border: 1px solid #cecece;
    color: #5e5e5e;
    background-color: #fff;
}

.row-spaceBetween {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row-spaceBetween p {
    font-size: 12px;
    color: #eee;
}

.apply-button {
    color: #333!important;
    background-color: #ffea3e!important;
    box-shadow: 0 3px #f3dd29!important;
    border: 0!important;
    top: 0!important;
    font-weight: 500!important;
    font-size: 14px!important;
    padding: 5px 20px!important;
}

.suggestion-container, .holiday-container {
    max-width: 1024px;
    margin: auto;
}

.guestInput:focus {
    color: transparent!important;
    text-shadow: 0 0 0 #495057!important;
    outline: none!important;
}