.details-header {
    padding: 10px 0 10px 0px;
}

.slider-base {
    position: relative;
}

.slider-base .viewGalary-btn-div {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.slider-base .viewGalary-btn,
.themeBtn {
    border-radius: 5px;
    font-size: 14px;
    padding: 4px 10px;
    outline: none;
}

.bread-crumbs {
    padding: 5px 0 5px 0;
    margin-top: 0;
    font-size: 12px;
}

.title-section {}

.placeText {
    font-size: 24px;
    font-weight: 600;
}

.locationText {
    margin-bottom: 0px;
}

.starImage {
    margin-left: 3px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 14px;
    width: 14px;
}

.review-section {
    align-items: flex-end;
    justify-content: center;
    display: flex!important;
    flex-direction: column;
}

.rate-review {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.feature-wrap {
    padding: 20px 0px 20px 0px;
}

.decription-section {
    padding: 25px 0;
    border-bottom: 2px solid #ccc;
}

.decription-section .title {
    font-size: 24px!important;
    margin-bottom: 20px;
    font-weight: 600;
}

.details-body .title {
    font-size: 24px!important;
    margin-bottom: 0px;
    font-weight: 600;
}
.full-review-wrap{
    margin-top: 20px;
}
.individual-review-wrap{
    border-top: 2px solid #ccc;
    padding-top: 20px;
    padding-bottom: 20px;
}
.individual-review-wrap .date {
    margin-bottom: 10px;
    color: gray;
    font-size: 14px;
}
.decription-section p {
    font-size: 16px!important;
    white-space: pre-line!important;
}

.details-dicover {
    margin-top: 20px;
}

.details_amenties span {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
}

.details_amenties img {
    width: 32px;
    height: 32px;
    margin-right: 15px;
    filter: opacity(.3) drop-shadow(0 0 0 #5e5e5e);
}

.addButton {
    width: 230px!important;
    margin-top: 10px;
    font-size: 14px;
    color: #5e5e5e!important;
    background-color: #fff;
    padding: 3px!important;
}

.addButton:hover {
    background-color: #fff!important;
}

.features h3 {
    text-align: center;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    color: #5e5e5e;
}

.features p {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}

.details_amenties-heading {
    font-size: 24px!important;
    margin-bottom: 20px;
    font-weight: 600;
}

.feature-heading {
    font-weight: 700;
    line-height: 24px;
    font-size: 16px;
    color: #000;
}

.details-full-wrap {
    display: flex;
    justify-content: space-between;
}

.booking-section {
    margin-top: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .25);
    padding: 20px 10px 60px 10px;
}

.rate-section {
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
}

.rate-section .rate {
    margin-right: 15px;
    font-size: 36px;
    color: #00b2b2;
}

.date-section {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.hint {
    margin-top: 10px;
    font-size: 14px;
    color: #5e5e5e;
    text-align: center;
}
.strong {
    font-weight: 700;
}

.breadcum-link {
    color: var(--link)!important;
    text-decoration: none;
    font-style: normal;
    cursor: pointer;
}

.sliderWrap {
    padding: 2px;
}

.sliderWrap img {
    height: 300px;
}

@media (min-width: 992px) {
    .sliderWrap img {
        height: 550px;
    }
}

@media (min-width: 768px) {
    .sliderWrap img {
        height: 450px;
    }
}

@media (min-width: 768px) {
    .sliderWrap img {
        height: 450px;
    }
}

@media (min-width: 560px) {
    .slick-slider .slick-arrow {
        top: 150!important;
    }
}

.amenties-subhead {
    font-weight: 700;
}

.mapV2 {
    position: relative!important;
}


/* ============ Gallery css starts here =========== */

.gallery-base {

}

.gallery-base .header {
    position: sticky;
    top: 0;
    height: 60px;
    z-index: 200;
    background-color: rgba(255,255,255,.9);
    overflow: auto;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}

.gallery-base .header h1 {
    font-size: 24px;
    font-weight: 400;
}

.gallery-base .img-div {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px;
}

.gallery-base .img-div img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    padding-top: 20px;
}

.gallery-base .img-div .photo {
    width: 50%;
}

.gallery-base .img-div .photo.odd {
    padding-left: 20px;
}

@media (max-width: 800px) {
    .gallery-base .img-div {
        flex-direction: column;
    }

    .gallery-base .img-div .photo {
        width: 100%;
    }

    .gallery-base .img-div .photo.odd {
        padding-left: 0px;
    }
}

/* ============ Gallery css starts here =========== */
