.details-header {
    padding: 10px 0 10px 0px;
}

.bread-crumbs {
    padding: 5px 0 5px 0;
    margin-top: 0;
    font-size: 12px;
}

.title-section {}

.placeText {
    font-size: 24px;
    font-weight: 600;
}

.locationText {
    margin-bottom: 0px;
}

.starImage {
    margin-left: 3px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 14px;
    width: 14px;
}

.review-section {
    align-items: flex-end;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.rate-review {
    display: flex;
    /* flex-direction: row; */
}

.feature-wrap {
    padding: 20px 0px 20px 0px;
}

.reviews {
    margin-left: 80px;
}

.decription-section {
    padding: 25px 0;
    border-bottom: 2px solid #ccc;
}

.decription-section .title {
    font-size: 24px!important;
    margin-bottom: 20px;
    font-weight: 600;
}

.decription-section p {
    font-size: 16px!important;
    white-space: pre-line!important;
}

.details-dicover {
    margin-top: 20px;
}

.details_amenties span {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
}

.details_amenties img {
    width: 32px;
    height: 32px;
    margin-right: 15px;
    filter: opacity(.3) drop-shadow(0 0 0 #5e5e5e);
}

.addButton {
    width: 230px!important;
    margin-top: 10px;
    color: #5e5e5e!important;
    padding: 3px!important;
}

.features h3 {
    text-align: center;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    color: #5e5e5e;
}

.features p {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}

.details_amenties-heading {
    font-size: 24px!important;
    margin-bottom: 20px;
    font-weight: 600;
}

.feature-heading {
    font-weight: 700;
    line-height: 24px;
    font-size: 16px;
    color: #000;
}

.details-full-wrap {
    display: flex;
    justify-content: space-between;
}

.booking-section {
    margin-top: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .25);
    padding: 20px 10px 60px 10px;
}

.rate-section {
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
}

.rate-section .rate {
    margin-right: 15px;
    font-size: 36px;
    color: #00b2b2;
}

.date-section {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.hint {
    margin-top: 10px;
    font-size: 14px;
    color: #5e5e5e;
    text-align: center;
}