body {
  margin: 0;
  font-size: 1rem;
  font-family: "MuseoSans"!important;
  font-weight: 300!important;
  line-height: 1.5!important;
  color: #212529!important;
  text-align: left!important;
  background-color: #fff!important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

p {
  margin-bottom: 0px!important;
}



.CalendarDay__selected_span {
  background: #82e0aa; 
  color: white; 
}

.CalendarDay__selected {
  color: white;
}
.CalendarDay__selected:hover {
  background: orange;
  color: white;
}

.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background: brown;
}